ul {
    list-style-type: circle;
}

.references {
    font-style: italic;
}

#main_title {
    color: grey;
    font-size: 50px;
}

.contatos {
    background: wheat;
    margin: 10px;
    padding: 10px;
    border: black 5px solid;
}.contatos:hover {
    background: orange;
}
